{% extends "authentication/auth_base.html" %}
{% block title %}
  Sign Up
{% endblock title %}
{% block form_body_inputs %}
  <!-- full_name -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text bg-success text-white h-100"
          id="basic-addon1"><i class="mdi mdi-account fs-4"></i
          ></span>
    </div>
    {{ form.full_name }}
  </div>
  <!-- phone_number -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text bg-success text-white h-100"
          id="basic-addon1"><i class="mdi mdi-account fs-4"></i
          ></span>
    </div>
    {{ form.phone_number }}
  </div>
  <!-- email -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text bg-danger text-white h-100" id="basic-addon1"><i class="mdi mdi-email fs-4"></i
          ></span>
    </div>
    {{ form.email }}
  </div>
  <!-- pasword -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text bg-warning text-white h-100"
          id="basic-addon2"><i class="mdi mdi-lock fs-4"></i
          ></span>
    </div>
    {{ form.password1 }}
  </div>
  <!-- pasword confirmation -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white h-100" id="basic-addon2"><i class="mdi mdi-lock fs-4"></i
          ></span>
    </div>
    {{ form.password2 }}
  </div>
{% endblock form_body_inputs %}
{% block form_body_buttons %}
  <div class="pt-3 d-grid">
    <button class="btn btn-block btn-lg btn-info" type="submit">Sign Up</button>
  </div>
{% endblock form_body_buttons %}