{% extends "base.html" %}
{% block title %}Students{% endblock title %}
{% block left_navbar %}
{% endblock left_navbar %}
{% block content %}
   <!-- ============================================================== -->
   <!-- Page wrapper  -->
   <!-- ============================================================== -->
   <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="page-breadcrumb">
         <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
               <h4 class="page-title mt-3 col-md-6">Students</h4>
               <form action="{% url 'school:students-list' %}" method="get">
                  <input name="search" class="form-control mr-sm-8" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success mt-3 col-md-6" type="submit">Search</button>
                </form>
            </div>
         </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
         <!-- ============================================================== -->
         <!-- Start Page Content -->
         <!-- ============================================================== -->
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-body">
                  </div>
                  <table class="table">
                     <thead>
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Full Name</th>
                           <th scope="col">Email</th>
                           <th scope="col">Date Of Birth</th>
                           <th scope="col">Class</th>
                           <th scope="col">Address</th>
                           <th scope="col">Floor</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for student in student_list %}
                        <tr class="clickable-row" data-href=>
                           <th scope="row">
                              <a href="{% url 'school:edit-student' student.pk %}"
                                 class="stretched-link">{{ forloop.counter }}</a>
                           </th>
                           <td>{{ student.full_name }}</td>
                           <td>{{ student.email }}</td>
                           <td>{{ student.date_of_birth }}</td>
                           <td>{{ student.student_class }}</td>
                           <td>{{ student.address }}</td>
                           <td>{{ student.floor }}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <!-- ============================================================== -->
         <!-- End PAge Content -->
         <!-- ============================================================== -->
         <!-- ============================================================== -->
         <!-- Right sidebar -->
         <!-- ============================================================== -->
         <!-- .right-sidebar -->
         <!-- ============================================================== -->
         <!-- End Right sidebar -->
         <!-- ============================================================== -->
   </div>
   <!-- ============================================================== -->
   <!-- End Container fluid  -->
   <!-- ============================================================== -->
{% endblock content %}