{% load static %}
<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}Payment Task{% endblock title %}</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
   {% block css_header_links %}
   {% endblock css_header_links %}
   <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
   {% block js_header_scripts %}
   {% endblock js_header_scripts %}
</head>
<body>
   <section class="section">
      <div class="container">
      {% block content %}
      {% endblock content %}
   </section>
</body>
</body>
</html>